In [117]:
import pandas as pd
Climate_Change_file_path = '/Users/pulkit/Desktop/Climate change/climate_data.csv'
Climate_change_Data = pd.read_csv(Climate_Change_file_path)
Climate_change_Data.describe()

               year    tem_change
count  16756.000000  14975.000000
mean    1990.000000      0.484160
std       17.029895      0.628342
min     1961.000000     -3.252000
25%     1975.000000      0.035000
50%     1990.000000      0.412000
75%     2005.000000      0.882000
max     2019.000000      5.413000

In [118]:
Climate_change_Data.shape

(16756, 4)

In [119]:
Climate_change_Data.head()

  Country Code    Country Name  year  tem_change
0          AFG     Afghanistan  1961      -0.080
1          ALB         Albania  1961       0.631
2          DZA         Algeria  1961       0.186
3          ASM  American Samoa  1961      -0.014
4          AND         Andorra  1961       0.749

In [120]:
features = ['year']
y = Climate_change_Data['tem_change']
X = Climate_change_Data[features]

In [121]:
X.head()

   year
0  1961
1  1961
2  1961
3  1961
4  1961

In [122]:
Climate_change_Data.dtypes

Country Code     object
Country Name     object
year              int64
tem_change      float64
dtype: object

In [137]:
Climate_change_Data['Country Name'].unique()
# no hot encoding possible

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "CÃ´te d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia',
       'French Southern and Antarctic Territories', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Midway Island', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn Islands', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'RÃ©union', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [124]:
X.isnull().sum()

year    0
dtype: int64

In [125]:
y.isnull().sum()

1781

                             Misssing Values in train_y set 
1.) we are swapping the missing values we mean of that particular year.

X -> year

Y -> tem_change

In [129]:
year_array = X.year.unique()

In [130]:
missing_values_fillby = Climate_change_Data.groupby('year').tem_change.mean()

In [131]:
# setting year array as index of missing values
missing_values_fillby.index = year_array
missing_values_fillby[2019]

1.4434810606060606

In [132]:
len(Climate_change_Data.year)

16756

In [133]:
for i in range(0,len(Climate_change_Data.year)):
   if pd.isnull(Climate_change_Data['tem_change'][i]):
      Climate_change_Data.loc[i,'tem_change'] = missing_values_fillby[Climate_change_Data.loc[i,'year']] 
      # print(missing_values_fillby[Climate_change_Data.loc[i,'year']])

In [134]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
train_X , val_X, train_y,val_y = train_test_split(X,y ,random_state=1)

In [135]:
train_y.isnull().sum()

0

In [136]:
Climate_model = RandomForestRegressor(random_state=1)
Climate_model.fit(train_X,train_y)
preds = Climate_model.predict(val_X)
Mae = mean_absolute_error(preds,val_y)
print(Mae)

0.2691673231129146